* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 32px;
}

body {
    min-height: 100vh;
    background-color: #F8B195;
    display: flex;
    flex-direction: column;
}

nav {
    font-family: optima, sans-serif;
    margin: auto;
}

main {
    background-color: bisque;
    display: flex;
    flex: 1;
}

aside {
    background-color: #355C7D;
    flex: 1;
    gap: 20px;
    display: flex;
    flex-direction: column;
    font-family: optima, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form button {
    background-color: #F8B195;
    font-family: optima, sans-serif;
}

.weather {
    flex: 4;
    display: flex;
    flex-direction: column;
}

.current {
    background-color: #f67280;
    flex: 1;
}

.forecast {
    background-color: #f67280;
    flex: 1;
}

.search-history-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: optima, sans-serif;
}

.search-history-button {
 background-color: #6C5B7B;
}